---
---

@charset "utf-8";

$primary-color: #4B6CB7;
$link-color: #7F53AC;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

// 줄바꿈 방지
.archive__item-excerpt {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// intro 섹션 스타일
.intro {
  p {
    white-space: nowrap;
  }
}